:root{
  --bg--color: var(#646161);
  --bg--input--color: #0E0E0F;
  --text-color: #999797;
  --linear-gradient-color:linear-gradient(to bottom, rgba(90, 89, 89, 0.821), rgba(10, 10, 10, 0.481));
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
p{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.app-weather{
  max-height: 100vh;
}
.app-weather-container{
  width: 90%;
  height: 540px;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 80px;
}
.app-weather-container  .input-container{
  margin-right: 150px;
}
.app-weather-container  .input-container .inputBox{
  border-radius: 20px;
  background-image: var(--linear-gradient-color);
}
.app-weather-container .input-container input{
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 20px;
  color: #fff;
}
.app-weather-container .input-container button{
  background-image: var(--linear-gradient-color);
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
}
.app-weather-container .first .temp h1{
  font-size: 80px;
  animation: fadeIn .5s ease-in-out;
}
.app-weather-container .first .temp i{
  font-size: 40px;
  animation: slideTop 3s infinite;
}
@keyframes slideTop {
  0%, 100%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(0px);
  }
}
.app-weather-container .first .city{
  font-size: 40px;
}
.app-weather-container .desc{
  background-image: var(--linear-gradient-color);
  border-radius: 10px;
  width: 380px;
  font-size: 14px;
}
.app-weather-container .second .desc{
  margin-top: 65px;
}
.app-weather-container .second .desc .title h5{
  font-size: 15px;
  margin-bottom: 0;
}
.app-weather-container .second .info{
  background-image: var(--linear-gradient-color);
  border-radius: 10px;
  width: 200px;
}
.app-weather-container .second .info .title{
  font-size: 14px;
  color: var(--text-color);
  animation: fadeIn .5s ease-in-out;
}
.app-weather-container .second .info h3{
  margin-bottom: 0;
  font-size: 18px;
}
.app-weather-container .second .info p{
  font-size: 15px;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width:1029px){
  .app-weather-container  .input-container{
    margin-right: 0;
  }
  .app-weather-container .desc{
    width: 350px;
  }
}
@media (max-width:992px){
  .app-weather{
    max-height: 100%;
  }
  .app-weather-container{
    height: 100%; 
    padding: 20px;
  }
  .app-weather-container .row > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:776px){
  .app-weather-container .nav-bar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 550px) {
  .input-container{
    flex-direction: column;
  }
  .app-weather .infos{
    flex-direction: column;
  }
  .app-weather .infos .info{
    text-align: center;
    width: 100%;
  }
  .app-weather .desc{
    padding: 5px !important;
    width: 100%;
  }
  .app-weather .second h3{
    font-size: 14px;
  }
  .app-weather .second p{
    font-size: 12px;
  }
  .app-weather .second .infos{
    gap: 10px !important;
  }
}